@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c1: #90cea1;
  --c2: #01b4e4;
  --c3: #0d253f;
  /* --c1: #f3ce13;
  --c2: #000; */

  --border-radius-1: 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tomato {
  color: tomato;
}
.goldenrod {
  color: goldenrod;
}
.green {
  color: #4fcc4f;
}

.skeleton {
  animation: skeleton-loading 0.75s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(220, 220, 220);
  }
  25% {
    background-color: rgb(210, 210, 210);
  }
  50% {
    background-color: rgb(200, 200, 200);
  }
  75% {
    background-color: rgb(190, 190, 190);
  }
  100% {
    background-color: rgb(180, 180, 180);
  }
}
